
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="app">
    <table class="table">
        <tr>

            <th>
                Title
            </th>
            <th>
                Body
            </th>
            <th></th>
        </tr>

        <tr v-for="post in posts">
            <td>
                <img alt="image" :src="post.ImageUrl" /> {{post.Title}}
            </td>
            <td>
                <p>{{post.Snippet}}</p>
            </td>

            <td>
                <a :href="post.EditUrl">Edit</a>
            </td>

        </tr>

    </table>

    <button class="btn btn-primary" id="btnMore" type="button" value="more" v-on:click="loadMore();" v-if="!noMoreResults">
        Load More
    </button>

</div>

<script type="text/javascript">
    new Vue({

        el: "#app",
        data: {
            posts: [],
            page: 1,
            busy: false,
            noMoreResults: false
        },

        methods: {
            loadMore() {

                this.busy = true;
                axios.get("/Blog/GetPagedResult?page=" + this.page).then(response => {
                    if (response.data.length === 0) {
                        this.noMoreResults = true;
                    }

                    this.posts = this.posts.concat(response.data);
                    this.page += 1;
                    this.busy = false;
                });
            }
        },

        created() {
            this.loadMore();
        }
    });

</script>
